In [1]:
import pandas as pd

In [2]:
from sklearn import preprocessing

In [4]:
from sklearn.datasets import load_iris

In [5]:
iris=load_iris()

In [8]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)

In [9]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [16]:
min_max_scaler=preprocessing.MinMaxScaler()

In [18]:
x=df.iloc[:,:4]

In [19]:
x_scaled = min_max_scaler.fit_transform(x)

In [20]:
df_normalized = pd.DataFrame(x_scaled)

In [22]:
df_normalized

            0         1         2         3
0    0.222222  0.625000  0.067797  0.041667
1    0.166667  0.416667  0.067797  0.041667
2    0.111111  0.500000  0.050847  0.041667
3    0.083333  0.458333  0.084746  0.041667
4    0.194444  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.555556  0.208333  0.677966  0.750000
147  0.611111  0.416667  0.711864  0.791667
148  0.527778  0.583333  0.745763  0.916667
149  0.444444  0.416667  0.694915  0.708333

[150 rows x 4 columns]